@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  background-color: rgb(243, 243, 175);
}
#heading1{
    text-align:center;
    margin:7px 4px;
    padding:2px 2px;
    position:relative;
    top:19px;
}
.container {
  width: 80%;
  max-width: 33.5em;
  position: absolute;
  padding: 2em 1.5em;
  background-color: aliceblue;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 0 1.4em 3em rgb(20, 16, 39, 0.3);
}
.container img {
  display: block;
  height: 20em;
  max-width: 800%;
  margin: 0 auto 1em auto;
  position: relative;
}
.container h3 {
  margin: 0.5em auto 2em auto;
  display: block;
  font-size: 1em;
  width: 70%;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  color: grey;
}
.container button {
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 0.8em 2em;
  border-radius: 2em;
  border: none;
  background-color: rgb(243, 243, 175);
  /* color:white; */
  outline: none;
  cursor: pointer;
}
.container button.Loading{
  display: block;
  margin: 0 auto;
  font-size: 1.2em;
  padding: 0.8em 2em;
  border-radius: 2em;
  border: none;
  background-color: rgb(243, 243, 175);
  /* color:white; */
  outline: none;
  cursor: pointer;
}
.container button:hover {
  border: 2px solid black;
}
@media screen and (max-width : 1250px) {
  
  .container {
   
    top: 58%;
  }
}

@media screen and (max-width : 600px) {
  
  .container {
   
    top: 58%;
  }
}
@media screen and (max-width : 440px) {

  .container {
    font-size: 14px;
  top: 55%;
  }
  .container img {
    height: 19em;
    width: 100%;
  }
}
